.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

nav-bar {
  .full-width;
}

.page-host {
  position: relative;
  z-index: -1;
  .full-height;
}

#TutorialsView {
  position: relative;
  .full-height;

  ul {
    width: 298px;
    background: rgb(236,236,236);
    box-shadow: 3px 0px 2px -1px rgba(217,217,217,1);
    .full-height;

    li {  
      height: 44px;
      line-height: 44px;
      color: #92278f;
      font-size: 20px;
      font-weight: 300;
      padding-left: 28px;

    }
    li.au-active {
      color: #ef67a8;
      background: rgba(255,255,255,1);
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    }
    li + li.au-active,
    li.au-active + li {
      border-top: 1px solid rgb(192,192,192);
    }
  }
}