// variables
// @pink-text
// @purple-text
// @grey-text

// @white-bg
// @light-bg
// @dark-bg
// @purple-bg

// defaults
body {
  background: rgb(247,247,247);
}
body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
}
a {
  color: inherit;
  text-decoration: none;
}
button,
select,
a {
  cursor: pointer;
}

strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

// generics
.strong {
  font-weight: 900;
}
.text-sm {
  font-size: 14px;
  color: rgb(128,128,128);
  margin-top: 12px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.align-center {
  text-align: center;
}
.clearfix {
  display: table;
  clear: both;
  content: "";
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.spaced {
  margin-top: 28px;
}
.scrollable {
  overflow-y: scroll;
}

// specifics
.au-navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 83px;
  z-index: 1;
  background: white;
  box-shadow: 0px 3px 2px -1px rgba(217,217,217,1);
  border-bottom: 1px solid #CCCCCC;

  .au-select {
    margin: 28px 0;
  }

  .au-icon-button {
    vertical-align: sub;

    i {
      line-height: 83px;
    }
  }
}
.au-navbar + * {
  margin-top: 83px;
  position: relative;
}
.au-navbar-logo {
  .pull-left;
  margin: 16px;

  img {
    border-right: 1px solid #ccc;
    padding-right: 7px;
    margin-right: 7px;
    display: inline-block;
  }
  span {
    font-size: 28px;
    font-weight: 300;
    color: #92278f;
    vertical-align: 10px;
  }
}
.body {
  .content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 298px;
    margin-top: 83px;
    padding: 42px;
  }
  .au-menu {
    overflow: auto;
  }
}

.au-menu {
  width: 298px;
  background: rgb(236,236,236);
  box-shadow: 3px 0px 2px -1px rgba(217,217,217,1);
  position: fixed;
  top: 83px;
  bottom: 0;

  li {
    height: 48px;
    line-height: 48px;
    color: #92278f;
    font-size: 16px;
    font-weight: 300;
    padding-left: 28px;

  }
  li.active {
    color: #ef67a8;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    -webkit-box-shadow: 0px 2px 4px -2px rgba(128,128,128,1);
    -moz-box-shadow: 0px 2px 4px -2px rgba(128,128,128,1);
    box-shadow: 0px 2px 4px -2px rgba(128,128,128,1);
  }
}
.au-section {
  border: 1px solid rgb(218,218,218);
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(218,218,218,1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(218,218,218,1);
  box-shadow: 0px 1px 3px 0px rgba(218,218,218,1);

  .au-section-heading {
    border-bottom: 1px solid #dadada;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #7d519e;
    background: rgb(247,247,247);
    font-size: 32px;
    line-height: 64px;
    text-align: center;
    padding: 0 32px;
    margin: 0;

    .au-tag {
      color: rgb(128,128,128);
      background: white;
      border: 1px solid #dadada;
      border-radius: 4px;
      -webkit-box-shadow: 0px 1px 3px 0px #dadada;
      -moz-box-shadow: 0px 1px 3px 0px #dadada;
      box-shadow: 0px 1px 1px 0px #dadada;
      font-size: 10px;
      padding: 2px 7px;
      vertical-align: middle;
      position: relative;
      top: -12px;
    }
  }
  .au-section-body {
    border-radius: 6px;
    background: white;
    padding: 32px;

    h1 {
      font-size: 18px;
      font-weight: 900;
      border-bottom: 1px solid #d9d9d9;
      line-height: 38px;
      margin-bottom: 8px;
    }

    h2 {
      font-size: 14px;
      font-weight: 900;
    }

    h3 {
      font-size: 17px;
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 12px;
      margin-bottom: 4px;
    }

    ul {
      margin-left: 24px;
      font-size: 14px;
      line-height: 26px;
      margin-left: 0;
      list-style: initial;

      a {
        font-family: consolas;
        font-size: 14px;
        color: #ef67a8;
        text-decoration: underline;
      }

      li {
        padding-left: 6px;
      }
      &.no-bullet {
        list-style-type:none
      }
    }
  }

  .au-button {
    color: #7d519e;
    background: white;
    border: 1px solid #7d519e;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 12px;
    margin: 0 2px;
  }
  .au-button:hover {
    background: #7d519e;
    color: white;
  }
}
.au-section + .au-section {
  margin-top: 18px;
}
.au-tabs {
  .au-tab {
    display: inline-block;
    padding: 6px 28px;
    margin: 29px 0;
    color: #70519e;
    border-radius: 4px;
    font-size: 13px;

    .au-tag {
      background: rgb(239,103,168);
      color: rgb(255,255,255);
      font-weight: bold;
      font-size: 10px;
      padding: 1px 7px;
      border-radius: 2px;
      margin-left: 4px;
      vertical-align: 1px;
    }
  }
  .au-tab.au-active {
    color: white;
    background: #70519e;
    -webkit-box-shadow: 0px 4px 2px -1px rgba(217,217,217,1);
    -moz-box-shadow: 0px 4px 2px -1px rgba(217,217,217,1);
    box-shadow: 0px 3px 2px -1px rgba(217,217,217,1);

    .au-tag {
      background: rgb(255,255,255);
      color: rgb(239,103,168);
    }
  }
}
.au-select {
  padding: 4px;
  border-radius: 2px;
  color: rgb(128,128,128);
  border-color: rgb(128,128,128);
  font-size: 14px;
}
.au-icon-button {
  color: #70519e;
  font-size: 28px;
  font-weight: 300;
  margin: 30px;
}
.break-horiz {
  border-top: 1px solid #d9d9d9;
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #d9d9d9;
}

li.profile-selector {
  border-bottom: 1px solid #CAC3C3;
  background-color: #E6E6E6;
  color: gray;
}
